.Top {

    background-color: lightslategrey;         
    height: 250px;
    width: 550px;

}

.Left {

    background-color: lightblue;         
    height: 300px;
    width: 50px;
    padding-top: 50px;

}

.Content {

    background-color: lightcoral; 
    height: 300px;
    width: 500px;
    margin-left: 50px;
    

}

.butt1 {
    
    height:30px; 
    width:150px; 
    position: absolute;

    margin-top: 220px;
    margin-left: 70px;
}

.butt2 {
    
    height:30px; 
    width:150px; 
    position: absolute;

    margin-top: 220px;
    margin-left: 270px;
}

.form1 {
    
    height:30px; 
    width:150px; 
    position: absolute;

    margin-top: 50px;
    margin-left: 250px;
}

.form2 {
    
    height:30px; 
    width:150px; 
    position: absolute;

    margin-top: 100px;
    margin-left: 250px;
}

.form3 {
    
    height:30px; 
    width:150px; 
    position: absolute;

    margin-top: 150px;
    margin-left: 250px;
}

.label1 {
    
    font-size: 20px;

    height:30px; 
    width:150px; 
    position: absolute;

    margin-top: 50px;
    margin-left: 100px;
}

.label2 {

    font-size: 20px;
    
    height:30px; 
    width:150px; 
    position: absolute;

    margin-top: 100px;
    margin-left: 100px;
}

.label3 {

    font-size: 20px;
    
    height:30px; 
    width:150px; 
    position: absolute;

    margin-top: 150px;
    margin-left: 100px;
}